@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Virgil';
  src: url('/fonts/Virgil.woff2') format('woff2');
  font-weight: 400;
}
body {
  font-family: 'Virgil';
  overflow: none;
}
body::-webkit-scrollbar{
  display: none;
}
.name {
  display: inline-block;
  transform-origin: center;
  transition: transform 1s;
  
}
p{
  color: #ffffff;
}
h1{
  color:#f59e0b
}
h1:hover{
  color: #7f8de0
}
h2{
  color: #00ff8c
}
h2:hover{
  color: #fe570f
}